# Rename this file to ".env" and fill your real values.
# NEVER commit the real ".env" file to Git.

SUPABASE_URL=https://nniphwkevzovbhqsjnzv.supabase.co
SUPABASE_KEY=sb_publishable_71ZcEXZBOwRnuY7Vm_1nGQ_CsvMsowc

PORT=5000
JWT_SECRET=your_super_secret_key_here